*{     
    margin: 0;     
    padding: 0; 
}  
body{     
    font-family: 'Lato'; 
}  
header{     
    display: flex;     
    width: 100%;    
    background-color: #2d303a; 
    justify-content: space-between;
    }  
.header-logo{     
    margin-top: 28px;    
    margin-left: 4%;     
    font-size: 24px;     
    font-weight: bold;     
    color: #ffffff; 
}  
#star{     
    color:#f06c64; 
}  
.menu{     
    margin-top: 38px;     
    margin-right: 3.9%;
}  

.red-color{     
    display: inline; 
    color: #ffffff;     
    font-size: 12px; 
}

.red-color:hover{
    color: #f06c64;
    cursor: pointer;
}

.red-color:not(:first-child){     
    margin-left: 10px;
}

.red-color::after{
    content: "\00B7";
    color: #494e62;
    margin-left: 12px;
}

.red-color:last-child:after {
    content: none;
  }