*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato'; 
}

header{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #2d303a;
}

.header-padding{
    margin-left: 3.9%;
}

.header-logo{
    text-decoration: none;
    font-weight: 900;
    color: #666d89;
    font-size: 30px;
    padding-top: 60px;
    letter-spacing: -0.3px;
}

.header-logo:hover{
    cursor: pointer;
}

.header-text{
    font-family: "Lato";
    font-weight: 300;
    color: #767e9e;
    font-size: 18px;
    margin-top: 22px;
}

.header-nav{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.header-button:not(:first-child){
    margin-left: 1.1%;
}

li.header-button:nth-child(1){
    color: #ffffff;
    border: 1px solid #ffffff;
}

li.header-button{
    list-style: none;
    color: #666d89;
    border: 1px solid #666d89;
    font-size: 11px;
    font-weight: 600;
    padding: 3px 0.6% 4px 0.6%;
    border-radius: 5px;
    letter-spacing: 0.4px;
    white-space: nowrap;
}

li.header-button:hover{
    color: #ffffff;
    border-color: #ffffff;
    cursor: pointer;
}

main{
    background-color: #2d303a;
    padding-top: 19px ;
    display: flex;
    justify-content: space-between;
    border-bottom: 6px solid #323746;
}

.first-line{
    display: flex;
    flex-direction: column;
    margin-left: 3.9%;
    margin-bottom: 67px;
}

.first-line-img:not(:first-child){
    margin-top: 20px;
}

.first-line-img:hover{
    cursor: pointer;
}

.second-line{
    display: flex;
    flex-direction: column;
    margin-bottom: 67px;
}

.third-line{
    display: flex;
    flex-direction: column;
    margin-bottom: 67px;
}

.fourth-line{
    display: flex;
    flex-direction: column;
    margin-right: 3.9%;
    margin-bottom: 67px;
}

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}
.footer-logo{
    margin-top: 59px;
    margin-left: 3.9%;
    color: #666d89;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: -0.2px;
}

.footer-text{
    color: #767e9e;
    margin: 18px 3.9%;
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
    line-height: 30px;
}

.footer-photo{
    display: flex;
    flex-direction: row;
    margin-top: 27px;
    margin-bottom: 67px;
    justify-content: space-between;
}

.columns-one{
    margin-left: 3.95%;
    width: 300px;
}

.columns-two{
    width: 300px;
}

.columns-three{
    margin-right: 3.9%;
    width: 300px;
}

.name-photo{
    margin-top: 12px;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: -0.01em;
    color: #666d89;
}

.text-photo{
    width: 100%;
    margin-top: 8px;
    font-size: 11px;
    text-align: justify;
    color: #767e9e;
    white-space: pre-wrap;
    letter-spacing: 0.035em;
    line-height: 21px;
}

.social-networks{
    margin-left: 1px;
    margin-top: 24px;
    display: flex;
    flex-direction: row;
}

.list-social{
    height: 32px;
    width: 32px;
    list-style: none;
} 

.list-social:hover{
    cursor: pointer;
}

.list-social:not(:first-child){
    margin-left: 2.7%;
}

.facebook{
    background-image: url(assets/Facebook.png);
    background-repeat: no-repeat;
}

.google{
    background-image: url(assets/Google.png);
    background-repeat: no-repeat;
}

.twitter{
    background-image: url(assets/Twitter.png);
    background-repeat: no-repeat;
}

.linkedin{
    background-image: url(assets/LinkedIn.png);
    background-repeat: no-repeat;
}