*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato'; 
}

header{
    display: flex;
    flex-direction: column;
    background-color: #2d303a;
    padding-left: 3.9%;
}

.header-logo{
    text-decoration: none;
    font-weight: 900;
    color: #666d89;
    font-size: 30px;
    padding-top: 63px;
    letter-spacing: -0.3px;
}

.header-text{
    font-family: "Lato";
    font-weight: 300;
    color: #767e9e;
    font-size: 18px;
    margin-top: 20px;
}

.header-nav{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.header-button:not(:first-child){
    margin-left: 1.1%;
}

li.header-button{
    list-style: none;
    color: #666d89;
    border: 1px solid #666d89;
    font-size: 11px;
    font-weight: 400;
    padding: 3px 0.6% 4px 0.6%;
    border-radius: 5px;
    letter-spacing: 0.5px;
    white-space: nowrap;
}

li.header-button:hover{
    color: #ffffff;
    border-color: #ffffff;
    cursor: pointer;
}

main{
    background-color: #2d303a;
    padding: 18px 3.9%;
    display: flex;
    justify-content: space-between;
}

.first-line{
    display: flex;
    flex-direction: column;
}

.first-line-img:not(:first-child){
    margin-top: 20px;
}

.second-line{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}